# Introduction to Python
by Maxwell Margenot

Part of the Quantopian Lecture Series:

* [www.quantopian.com/lectures](https://www.quantopian.com/lectures)
* [github.com/quantopian/research_public](https://github.com/quantopian/research_public)


---

All of the coding that you will do on the Quantopian platform will be in Python. It is also just a good, jack-of-all-trades language to know! Here we will provide you with the basics so that you can feel confident going through our other lectures and understanding what is happening.

## Code Comments

A comment is a note made by a programmer in the source code of a program. Its purpose is to clarify the source code and make it easier for people to follow along with what is happening. Anything in a comment is generally ignored when the code is actually run, making comments useful for including explanations and reasoning as well as removing specific lines of code that you may be unsure about. Comments in Python are created by using the pound symbol (`# Insert Text Here`). Including a `#` in a line of code will comment out anything that follows it.

In [ ]:
# This is a comment
# These lines of code will not change any values
# Anything following the first # is not run as code

In [ ]:
# This is a copy of the first comment
# #commentpyhton :D
# love astronomy :3

You may hear text enclosed in triple quotes (`""" Insert Text Here """`) referred to as multi-line comments, but this is not entirely accurate. This is a special type of `string` (a data type we will cover), called a `docstring`, used to explain the purpose of a function.

In [ ]:
""" This is a special string """

' This is a special string '

In [ ]:
""" Just another special string """

' Just another special string '

Make sure you read the comments within each code cell (if they are there). They will provide more real-time explanations of what is going on as you look at each line of code.

## Variables

Variables provide names for values in programming. If you want to save a value for later or repeated use, you give the value a name, storing the contents in a variable. Variables in programming work in a fundamentally similar way to variables in algebra, but in Python they can take on various different data types.

The basic variable types that we will cover in this section are `integers`, `floating point numbers`, `booleans`, and `strings`. 

An `integer` in programming is the same as in mathematics, a round number with no values after the decimal point. We use the built-in `print` function here to display the values of our variables as well as their types!

In [ ]:
my_integer = 50
print my_integer, type(my_integer)

50 <class 'int'>

In [ ]:
soy_entero = -88
print(soy_entero)
type(soy_entero)

-88

Variables, regardless of type, are assigned by using a single equals sign (`=`). Variables are case-sensitive so any changes in variation in the capitals of a variable name will reference a different variable entirely.

In [ ]:
one = 1
print One

NameError: name 'One' is not defined

In [ ]:
dos = 2
print (dOs)

NameError: name 'dOs' is not defined

A `floating point` number, or a `float` is a fancy name for a real number (again as in mathematics). To define a `float`, we need to either include a decimal point or specify that the value is a float.

In [ ]:
my_float = 1.0
print my_float, type(my_float)
my_float = float(1)
print my_float, type(my_float)

1.0 <class 'float'>
1.0 <class 'float'>

In [ ]:
flotante = .3 ##cuando se escribe el punto y el decimal, se asume que el valor entero es 0
print(flotante, type(flotante))
flotante = float(-8)
print(flotante,type(flotante))

0.3 <class 'float'>
-8.0 <class 'float'>

A variable of type `float` will not round the number that you store in it, while a variable of type `integer` will. This makes `floats` more suitable for mathematical calculations where you want more than just integers.

Note that as we used the `float()` function to force an number to be considered a `float`, we can use the `int()` function to force a number to be considered an `int`.

In [ ]:
my_int = int(3.14159)
print my_int, type(my_int)

3 <class 'int'>

In [ ]:
aprox_int = int(2.71828)
print(aprox_int, type(aprox_int))

2 <class 'int'>

The `int()` function will also truncate any digits that a number may have after the decimal point!

Strings allow you to include text as a variable to operate on. They are defined using either single quotes ('') or double quotes ("").

In [ ]:
my_string = 'This is a string with single quotes'
print my_string
my_string = "This is a string with double quotes"
print my_string

This is a string with single quotes
This is a string with double quotes

In [ ]:
mi_string= 'Este es un string con comilla simples'
print (mi_string)
mi_string= "Este es un string con comillas dobles"
print (mi_string)

Este es un string con comilla simples
Este es un string con comillas dobles

Both are allowed so that we can include apostrophes or quotation marks in a string if we so choose.

In [ ]:
my_string = '"Jabberwocky", by Lewis Carroll'
print my_string
my_string = "'Twas brillig, and the slithy toves / Did gyre and gimble in the wabe;"
print my_string

"Jabberwocky", by Lewis Carroll
'Twas brillig, and the slithy toves / Did gyre and gimble in the wabe;

In [ ]:
mi_string= '"Comillas dobles", declarando el string con comillas simples.'
print(mi_string)
mi_string = "'Comillas simples' ;declarando el string con comillas dobles :D"
print(mi_string)

"Comillas dobles", declarando el string con comillas simples.
'Comillas simples' ;declarando el string con comillas dobles :D

Booleans, or `bools` are binary variable types. A `bool` can only take on one of two values, these being `True` or `False`. There is much more to this idea of truth values when it comes to programming, which we cover later in the [Logical Operators](#id-section5) of this notebook.

In [ ]:
my_bool = True
print my_bool, type(my_bool)

True <class 'bool'>

In [ ]:
booleano = False
print(booleano, type(booleano))

False <class 'bool'>

There are many more data types that you can assign as variables in Python, but these are the basic ones! We will cover a few more later as we move through this tutorial.

## Basic Math

Python has a number of built-in math functions. These can be extended even further by importing the **math** package or by including any number of other calculation-based packages.

All of the basic arithmetic operations are supported: `+`, `-`, `/`, and `*`. You can create exponents by using `**` and modular arithmetic is introduced with the mod operator, `%`.

In [ ]:
print 'Addition: ', 2 + 2
print 'Subtraction: ', 7 - 4
print 'Multiplication: ', 2 * 5
print 'Division: ', 10 / 2
print 'Exponentiation: ', 3**2

Addition:  4
Subtraction:  3
Multiplication:  10
Division:  5.0
Exponentiation:  9

In [ ]:
# aplicación de las operaciones con uso de parentesis para indicar prioridad
print((2+2+7-4)+((2*5)*(10/2))-3**2)

48.0

If you are not familiar with the the mod operator, it operates like a remainder function. If we type $15 \ \% \ 4$, it will return the remainder after dividing $15$ by $4$.

In [ ]:
print 'Modulo: ', 15 % 4

Modulo:  3

In [ ]:
print("Operación modular", 3%9)

Operación modular 3

Mathematical functions also work on variables!

In [ ]:
first_integer = 4
second_integer = 5
print first_integer * second_integer

In [ ]:
a= 90
b= 45
print((a+b)+(a-b)-(a/b)-(a*b)+(a**2)-(b**2))

2203.0

Make sure that your variables are floats if you want to have decimal points in your answer. If you perform math exclusively with integers, you get an integer. Including any float in the calculation will make the result a float.

In [ ]:
first_integer = 11
second_integer = 3
print first_integer / second_integer

3.6666666666666665

In [ ]:
first_number = 11.0
second_number = 3.0
print first_number / second_number

3.6666666666666665

In [ ]:
entero1=20
entero2=12
print(entero1/entero2, type(entero1/entero2))

1.6666666666666667 <class 'float'>

In [ ]:
float1=69.0
float2=16.0
print(float1/float2, type(float1/float2))

4.3125 <class 'float'>

Python has a few built-in math functions. The most notable of these are:

* `abs()`
* `round()`
* `max()`
* `min()`
* `sum()`

These functions all act as you would expect, given their names. Calling `abs()` on a number will return its absolute value. The `round()` function will round a number to a specified number of the decimal points (the default is $0$). Calling `max()` or `min()` on a collection of numbers will return, respectively, the maximum or minimum value in the collection. Calling `sum()` on a collection of numbers will add them all up. If you're not familiar with how collections of values in Python work, don't worry! We will cover collections in-depth in the next section. 

Additional math functionality can be added in with the `math` package.

In [ ]:
import math

In [ ]:
import math as mt

The math library adds a long list of new mathematical functions to Python. Feel free to check out the [documentation](https://docs.python.org/2/library/math.html) for the full list and details. It concludes some mathematical constants

In [ ]:
print 'Pi: ', math.pi
print "Euler's Constant: ", math.e

Pi:  3.141592653589793
Euler's Constant:  2.718281828459045

In [ ]:
print("Factorial de 5: ",mt.factorial(5))
print("Logaritmo en base 10 de 3: ", mt.log10(3))

Factorial de 5:  120
Logaritmo en base 10 de 3:  0.47712125471966244

As well as some commonly used math functions

In [ ]:
print 'Cosine of pi: ', math.cos(math.pi)

Cosine of pi:  -1.0

In [ ]:
print("Seno de pi/2: ", mt.sin(mt.pi/2)) #la función seno y coseno se hace sobre radianes!!

Seno de pi:  1.0

## Collections
### Lists

A `list` in Python is an ordered collection of objects that can contain any data type. We define a `list` using brackets (`[]`).

In [ ]:
my_list = [1, 2, 3]
print my_list

[1, 2, 3]

In [ ]:
lista = [-1, -2, -3]
print(lista)

[-1, -2, -3]

We can access and index the list by using brackets as well. In order to select an individual element, simply type the list name followed by the index of the item you are looking for in braces.

In [ ]:
print my_list[0]
print my_list[2]

1
3

In [ ]:
print lista[1]
print lista[0]

-2
-1

Indexing in Python starts from $0$. If you have a list of length $n$, the first element of the list is at index $0$, the second element is at index $1$, and so on and so forth. The final element of the list will be at index $n-1$. Be careful! Trying to access a non-existent index will cause an error.

In [ ]:
print 'The first, second, and third list elements: ', my_list[0], my_list[1], my_list[2]
print 'Accessing outside the list bounds causes an error: ', my_list[3]

The first, second, and third list elements:  1 2 3

IndexError: list index out of range

In [ ]:
print 'Los elementos de la lista son: ', lista[0], lista[1], lista[2]
print 'Error al acceder a un indice incorrecto: ', lista[10]

Los elementos de la lista son:  -1 -2 -3

IndexError: list index out of range

We can see the number of elements in a list by calling the `len()` function.

In [ ]:
print len(my_list)

3

In [ ]:
print len(lista)

3

We can update and change a list by accessing an index and assigning new value.

In [ ]:
print my_list
my_list[0] = 42
print my_list

[1, 2, 3]
[42, 2, 3]

In [ ]:
print(lista)
lista[2] = -96
print(lista)

[-1, -2, -3]
[-1, -2, -96]

This is fundamentally different from how strings are handled. A `list` is mutable, meaning that you can change a `list`'s elements without changing the list itself. Some data types, like `strings`, are immutable, meaning you cannot change them at all. Once a `string` or other immutable data type has been created, it cannot be directly modified without creating an entirely new object.

In [ ]:
my_string = "Strings never change"
my_string[0] = 'Z'

TypeError: 'str' object does not support item assignment

In [ ]:
pal = "no me puedes cambiar"
pal[0]='S'

TypeError: 'str' object does not support item assignment

As we stated before, a list can contain any data type. Thus, lists can also contain strings.

In [ ]:
my_list_2 = ['one', 'two', 'three']
print my_list_2

['one', 'two', 'three']

In [ ]:
list2 = ['Lista','De', 'Caracteres']
print (list2)

['Lista', 'De', 'Caracteres']

Lists can also contain multiple different data types at once!

In [ ]:
my_list_3 = [True, 'False', 42]

In [ ]:
list3 = [False, 'Str', -.65]

If you want to put two lists together, they can be combined with a `+` symbol.

In [ ]:
my_list_4 = my_list + my_list_2 + my_list_3
print my_list_4

[42, 2, 3, 'one', 'two', 'three', True, 'False', 42]

In [ ]:
list4 = lista+ list2+ list3
print(list4)

[-1, -2, -96, 'Lista', 'De', 'Caracteres', False, 'Str', -0.65]

In addition to accessing individual elements of a list, we can access groups of elements through slicing.

In [ ]:
my_list = ['friends', 'romans', 'countrymen', 'lend', 'me', 'your', 'ears']

In [ ]:
lista = ["curso", "algoritmos", "UN", "2020-2", "Labs"]

#### Slicing

We use the colon (`:`) to slice lists.

In [ ]:
print my_list[2:4]

['countrymen', 'lend']

In [ ]:
print(lista[1:4])

['algoritmos', 'UN', '2020-2']

Using `:` we can select a group of elements in the list starting from the first element indicated and going up to  (but not including) the last element indicated.

We can also select everything after a certain point

In [ ]:
print my_list[1:]

['romans', 'countrymen', 'lend', 'me', 'your', 'ears']

In [ ]:
print(lista[2:])

['UN', '2020-2', 'Labs']

And everything before a certain point

In [ ]:
print my_list[:4]

['friends', 'romans', 'countrymen', 'lend']

In [ ]:
print (lista[:4])

['curso', 'algoritmos', 'UN', '2020-2']

Using negative numbers will count from the end of the indices instead of from the beginning. For example, an index of `-1` indicates the last element of the list.

In [ ]:
print my_list[-1]

ears

In [ ]:
print (lista[-2])

2020-2

You can also add a third component to slicing. Instead of simply indicating the first and final parts of your slice, you can specify the step size that you want to take. So instead of taking every single element, you can take every other element.

In [ ]:
print my_list[0:7:2]

['friends', 'countrymen', 'me', 'ears']

In [ ]:
print(lista[0:6:2])

['curso', 'UN', 'Labs']

Here we have selected the entire list (because `0:7` will yield elements `0` through `6`) and we have selected a step size of `2`. So this will spit out element `0` , element `2`, element `4`, and so on through the list element selected. We can skip indicated the beginning and end of our slice, only indicating the step, if we like.

In [ ]:
print my_list[::2]

['friends', 'countrymen', 'me', 'ears']

In [ ]:
print(lista[::3])

['curso', '2020-2']

Lists implictly select the beginning and end of the list when not otherwise specified.

In [ ]:
print my_list[:]

['friends', 'romans', 'countrymen', 'lend', 'me', 'your', 'ears']

In [ ]:
print (lista[:])

['curso', 'algoritmos', 'UN', '2020-2', 'Labs']

With a negative step size we can even reverse the list!

In [ ]:
print my_list[::-1]

['ears', 'your', 'me', 'lend', 'countrymen', 'romans', 'friends']

In [ ]:
print(lista[::-1])

['Labs', '2020-2', 'UN', 'algoritmos', 'curso']

Python does not have native matrices, but with lists we can produce a working fascimile. Other packages, such as `numpy`, add matrices as a separate data type, but in base Python the best way to create a matrix is to use a list of lists.

We can also use built-in functions to generate lists. In particular we will look at `range()` (because we will be using it later!). Range can take several different inputs and will return a list.

In [ ]:
b = 10
my_list = range(b)
print my_list

range(0, 10)

In [ ]:
c= 874
lista= range(c)
print(lista)

range(0, 874)

Similar to our list-slicing methods from before, we can define both a start and an end for our range. This will return a list that is includes the start and excludes the end, just like a slice.

In [ ]:
a = 0
b = 10
my_list = range(a, b)
print my_list

range(0, 10)

In [ ]:
f = -4
g = 656
lista= range(f, g)
print(lista)

range(-4, 656)

We can also specify a step size. This again has the same behavior as a slice.

In [ ]:
a = 0
b = 10
step = 2
my_list = range(a, b, step)
print my_list

range(0, 10, 2)

In [ ]:
c = 20
d = 200
paso= 10
lista= range(c,d, paso)
print(lista)

range(20, 200, 10)

### Tuples

A `tuple` is a data type similar to a list in that it can hold different kinds of data types. The key difference here is that a `tuple` is immutable. We define a `tuple` by separating the elements we want to include by commas. It is conventional to surround a `tuple` with parentheses.

In [ ]:
my_tuple = 'I', 'have', 30, 'cats'
print my_tuple

('I', 'have', 30, 'cats')

In [ ]:
tupla = 'Lab', 1, 'finished?', False
print (tupla)

('Lab', 1, 'finished?', False)

In [ ]:
my_tuple = ('I', 'have', 30, 'cats')
print my_tuple

('I', 'have', 30, 'cats')

In [ ]:
tupla = ('Lab',1,'finished?',False)
print(tupla)

('Lab', 1, 'finished?', False)

As mentioned before, tuples are immutable. You can't change any part of them without defining a new tuple.

In [ ]:
my_tuple[3] = 'dogs' # Attempts to change the 'cats' value stored in the the tuple to 'dogs'

TypeError: 'tuple' object does not support item assignment

In [ ]:
tupla[3]= True

TypeError: 'tuple' object does not support item assignment

You can slice tuples the same way that you slice lists!

In [ ]:
print my_tuple[1:3]

('have', 30)

In [ ]:
print tupla[0:2]

('Lab', 1)

And concatenate them the way that you would with strings!

In [ ]:
my_other_tuple = ('make', 'that', 50)
print my_tuple + my_other_tuple

('I', 'have', 30, 'cats', 'make', 'that', 50)

In [ ]:
tupla2 = ('in progress?', True)
print(tupla+tupla2)

('Lab', 1, 'finished?', False, 'in progress?', True)

We can 'pack' values together, creating a tuple (as above), or we can 'unpack' values from a tuple, taking them out.

In [ ]:
str_1, str_2, int_1 = my_other_tuple
print str_1, str_2, int_1

make that 50

In [ ]:
str_3, bool_1 = tupla2
print(str_3, bool_1)

in progress? True

Unpacking assigns each value of the tuple in order to each variable on the left hand side of the equals sign. Some functions, including user-defined functions, may return tuples, so we can use this to directly unpack them and access the values that we want.

### Sets

A `set` is a collection of unordered, unique elements. It works almost exactly as you would expect a normal set of things in mathematics to work and is defined using braces (`{}`).

In [14]:
things_i_like = {'cats', 7, 'the number 7', 4, 4, 4, 42, 'lizards', 'man I just LOVE the number 7'}
print (things_i_like), type(things_i_like)

{'the number 7', 'lizards', 4, 7, 'man I just LOVE the number 7', 42, 'cats'}

(None, set)

In [10]:
micourses = {6, 'semestre', 'Algoritmos', 'Metodos numéricos', 'Redes de computadores', 'ITC', 2020, 2, True}
print(micourses, type(micourses))

{True, 2, 2020, 6, 'semestre', 'Metodos numéricos', 'ITC', 'Algoritmos', 'Redes de computadores'} <class 'set'>

Note how any extra instances of the same item are removed in the final set. We can also create a `set` from a list, using the `set()` function.

In [ ]:
animal_list = ['cats', 'dogs', 'dogs', 'dogs', 'lizards', 'sponges', 'cows', 'bats', 'sponges']
animal_set = set(animal_list)
print animal_set # Removes all extra instances from the list

{'cows', 'lizards', 'cats', 'dogs', 'bats', 'sponges'}

In [ ]:
lista_ingenierias=['electrica', 'electronica', 'mecanica', 'sistemas', 'sistemas', 'industrial', 'mecanica', 'industrial']
set_ingenierias= set(lista_ingenierias)
print(set_ingenierias)

{'electrica', 'electronica', 'mecanica', 'sistemas', 'industrial'}

Calling `len()` on a set will tell you how many elements are in it.

In [ ]:
print len(animal_set)

6

In [ ]:
print len(set_ingenierias)

5

Because a `set` is unordered, we can't access individual elements using an index. We can, however, easily check for membership (to see if something is contained in a set) and take the unions and intersections of sets by using the built-in set functions.

In [ ]:
'cats' in animal_set # Here we check for membership using the `in` keyword.

True

In [ ]:
'catastral' in set_ingenierias

False

In [ ]:
'sistemas' in set_ingenierias

True

Here we checked to see whether the string 'cats' was contained within our `animal_set` and it returned `True`, telling us that it is indeed in our set.

We can connect sets by using typical mathematical set operators, namely `|`, for union, and `&`, for intersection. Using `|` or `&` will return exactly what you would expect if you are familiar with sets in mathematics.

In [ ]:
print animal_set | things_i_like # You can also write things_i_like | animal_set with no difference

{'man I just LOVE the number 4', 'cows', 4, 'lizards', 7, 42, 'cats', 'dogs', 'bats', 'sponges', 'the number 4'}

In [ ]:
print (set_ingenierias | micourses)

{True, 2, 'sistemas', 2020, 6, 'industrial', 'electricidad y magnetismo', 'mecanica', 'semestre', 'electrica', 'electronica', 'Metodos numéricos', 'ingeco', 'Algoritmos'}

Pairing two sets together with `|` combines the sets, removing any repetitions to make every set element unique.

In [ ]:
print animal_set & things_i_like # You can also write things_i_like & animal_set with no difference

{'dogs', 'lizards'}

In [ ]:
print (set_ingenierias & micourses) #no hay elementos en común

set()

Pairing two sets together with `&` will calculate the intersection of both sets, returning a set that only contains what they have in common.

If you are interested in learning more about the built-in functions for sets, feel free to check out the [documentation](https://docs.python.org/2/library/sets.html).

### Dictionaries

Another essential data structure in Python is the dictionary. Dictionaries are defined with a combination of curly braces (`{}`) and colons (`:`). The braces define the beginning and end of a dictionary and the colons indicate key-value pairs. A dictionary is essentially a set of key-value pairs. The key of any entry must be an immutable data type. This makes both strings and tuples candidates. Keys can be both added and deleted.

In the following example, we have a dictionary composed of key-value pairs where the key is a genre of fiction (`string`) and the value is a list of books (`list`) within that genre. Since a collection is still considered a single entity, we can use one to collect multiple variables or values into one key-value pair.

In [ ]:
my_dict = {"High Fantasy": ["Wheel of Time", "Lord of the Rings"], 
           "Sci-fi": ["Book of the New Sun", "Neuromancer", "Snow Crash"],
           "Weird Fiction": ["At the Mountains of Madness", "The House on the Borderland"]}

In [ ]:
my_academy = {"Astronomy":["Cosmology","Radioastronomy","Celestial mechanics"],
             "Systems Enginnering":["Data science","Software Enginnering"],
             "Physics":["Optics"]}

After defining a dictionary, we can access any individual value by indicating its key in brackets.

In [ ]:
print my_dict["Sci-fi"]

['Book of the New Sun', 'Neuromancer', 'Snow Crash']

In [ ]:
print(my_academy["Astronomy"])

['Cosmology', 'Radioastronomy', 'Celestial mechanics']

We can also change the value associated with a given key

In [ ]:
my_dict["Sci-fi"] = "I can't read"
print my_dict["Sci-fi"]

I can't read

In [ ]:
my_academy["Physics"] = "Experimental"
print(my_academy["Physics"])

Experimental

Adding a new key-value pair is as simple as defining it.

In [ ]:
my_dict["Historical Fiction"] = ["Pillars of the Earth"]
print my_dict["Historical Fiction"]

['Pillars of the Earth']

In [ ]:
my_academy["Biology"]=["Botany"]
print (my_academy["Biology"])

['Botany']

## String Shenanigans

We already know that strings are generally used for text. We can used built-in operations to combine, split, and format strings easily, depending on our needs.

The `+` symbol indicates concatenation in string language. It will combine two strings into a longer string.

In [ ]:
first_string = '"Beware the Jabberwock, my son! /The jaws that bite, the claws that catch! /'
second_string = 'Beware the Jubjub bird, and shun /The frumious Bandersnatch!"/'
third_string = first_string + second_string
print third_string

"Beware the Jabberwock, my son! /The jaws that bite, the claws that catch! /Beware the Jubjub bird, and shun /The frumious Bandersnatch!"/

In [ ]:
text1= "Esta parte del texto, se debe completar con la segunda "
text2= "para ver todo el mensaje"
text3= text1 + text2
print(text3)

Esta parte del texto, se debe completar con la segunda para ver todo el mensaje

Strings are also indexed much in the same way that lists are.

In [ ]:
my_string = 'Supercalifragilisticexpialidocious'
print 'The first letter is: ', my_string[0] # Uppercase S
print 'The last letter is: ', my_string[-1] # lowercase s
print 'The second to last letter is: ', my_string[-2] # lowercase u
print 'The first five characters are: ', my_string[0:5] # Remember: slicing doesn't include the final element!
print 'Reverse it!: ', my_string[::-1]

The first letter is:  S
The last letter is:  s
The second to last letter is:  u
The first five characters are:  Super
Reverse it!:  suoicodilaipxecitsiligarfilacrepuS

In [16]:
stg = 'Esternocleidomastoideo'
print('La primera letra es: ', stg[0]) #E
print('Antepenultima letra es: ', stg[-3]) #d
print('primera letra es: ', stg[-22]) #E
print('Primeras 7 letras son: ', stg[0:7]) #Esterno
print('En reversa: ', stg[::-1])

La primera letra es:  E
Antepenultima letra es:  d
primera letra es:  E
Primeras 7 letras son:  Esterno
En reversa:  oediotsamodielconretsE

Built-in objects and classes often have special functions associated with them that are called methods. We access these methods by using a period ('.'). We will cover objects and their associated methods more in another lecture!

Using string methods we can count instances of a character or group of characters.

In [ ]:
print 'Count of the letter i in Supercalifragilisticexpialidocious: ', my_string.count('i')
print 'Count of "li" in the same word: ', my_string.count('li')

Count of the letter i in Supercalifragilisticexpialidocious:  7
Count of "li" in the same word:  3

In [ ]:
print ('Ejemplo de conteo de letras y palabras en Esternocleidomastoideo', stg.count('o') )
print ('Conteo de la palabra st: ', stg.count('st'))

Ejemplo de conteo de letras y palabras en Esternocleidomastoideo 4
Conteo de la palabra st:  2

We can also find the first instance of a character or group of characters in a string.

In [ ]:
print 'The first time i appears is at index: ', my_string.find('i')

The first time i appears is at index:  8

In [ ]:
print('la primera vez que aparece la vocal o es en el índice: ', stg.find('o'))

la primera vez que aparece la vocal o es en el índice:  6

As well as replace characters in a string.

In [ ]:
print "All i's are now a's: ", my_string.replace('i', 'a')

All i's are now a's:  Supercalafragalastacexpaaladocaous

In [ ]:
print ("Reemplazo de las 'o' por 'a': ", stg.replace('o','a'))

Reemplazo de las 'o' por 'a':  Esternacleidamastaidea

In [ ]:
print "It's raining cats and dogs".replace('dogs', 'more cats')

It's raining cats and more cats

In [ ]:
print ("Su nota es 2.94".replace('2.94','3'))

Su nota es 3

There are also some methods that are unique to strings. The function `upper()` will convert all characters in a string to uppercase, while `lower()` will convert all characters in a string to lowercase!

In [ ]:
my_string = "I can't hear you"
print my_string.upper()
my_string = "I said HELLO"
print my_string.lower()

I CAN'T HEAR YOU
i said hello

In [ ]:
stg='estas sordo'
print(stg.upper())
res='¿QUE ESTOY GORDO? :,V'
print(res.lower())

ESTAS SORDO
¿que estoy gordo? :,v

### String Formatting

Using the `format()` method we can add in variable values and generally format our strings.

In [ ]:
my_string = "{0} {1}".format('Marco', 'Polo')
print my_string

Marco Polo

In [ ]:
my_string = "{1} {0}".format('Marco', 'Polo')
print my_string

Polo Marco

In [ ]:
sgt = "{0} {1}".format('Francisco', 'Fernando')
print (sgt)

Francisco Fernando

In [ ]:
sgt = "{1} {0}".format('Francisco', 'Fernando')
print(sgt)

Fernando Francisco

We use braces (`{}`) to indicate parts of the string that will be filled in later and we use the arguments of the `format()` function to provide the values to substitute. The numbers within the braces indicate the index of the value in the `format()` arguments.

See the `format()` [documentation](https://docs.python.org/2/library/string.html#format-examples) for additional examples.

If you need some quick and dirty formatting, you can instead use the `%` symbol, called the string formatting operator.

In [ ]:
print 'insert %s here' % 'value'

insert value here

In [ ]:
print ("Inserte su dato %s " % " aquí ")

Inserte su dato  aquí

The `%` symbol basically cues Python to create a placeholder. Whatever character follows the `%` (in the string) indicates what sort of type the value put into the placeholder will have. This character is called a *conversion type*. Once the string has been closed, we need another `%` that will be followed by the values to insert. In the case of one value, you can just put it there. If you are inserting more than one value, they must be enclosed in a tuple.

In [ ]:
print 'There are %s cats in my %s' % (13, 'apartment')

There are 13 cats in my apartment

In [ ]:
print ("Estoy viendo %s materias en el semestre %s" %(4, '2020-2'))

Estoy viendo 4 materias en el semestre 2020-2

In these examples, the `%s` indicates that Python should convert the values into strings. There are multiple conversion types that you can use to get more specific with the the formatting. See the string formatting [documentation](https://docs.python.org/2/library/stdtypes.html#string-formatting) for additional examples and more complete details on use.

## Logical Operators
### Basic Logic

Logical operators deal with `boolean` values, as we briefly covered before. If you recall, a `bool` takes on one of two values, `True` or `False` (or $1$ or $0$). The basic logical statements that we can make are defined using the built-in comparators. These are `==` (equal), `!=` (not equal), `<` (less than), `>` (greater than), `<=` (less than or equal to), and `>=` (greater than or equal to).

In [ ]:
print 5 == 5

True

In [ ]:
print (0 >= 0)

True

In [ ]:
print 5 > 5

False

In [ ]:
print (-10 > 10)

False

These comparators also work in conjunction with variables.

In [ ]:
m = 2
n = 23
print m < n

True

In [ ]:
o = 42
p = 42.0000001
print (p<n)

False

We can string these comparators together to make more complex logical statements using the logical operators `or`, `and`, and `not`.

In [ ]:
statement_1 = 10 > 2
statement_2 = 4 <= 6
print "Statement 1 truth value: {0}".format(statement_1)
print "Statement 2 truth value: {0}".format(statement_2)
print "Statement 1 and Statement 2: {0}".format(statement_1 and statement_2)

Statement 1 truth value: True
Statement 2 truth value: True
Statement 1 and Statement 2: True

In [ ]:
sentencia1= 0 > 1
sentencia2= 1>-9
print("Valor de verdad de la primera sentencia: {0}".format(sentencia1))
print("Valor de verdad de la segunda sentencia: {0}".format(sentencia2))
print("Valor de verdad de ambas sentencias: {0}".format(sentencia1 and sentencia2))
print("Valor de verdad o para ambas sentencias: {0}".format(sentencia1 or sentencia2))

Valor de verdad de la primera sentencia: False
Valor de verdad de la segunda sentencia: True
Valor de verdad de ambas sentencias: False
Valor de verdad o para ambas sentencias: True

The `or` operator performs a logical `or` calculation. This is an inclusive `or`, so if either component paired together by `or` is `True`, the whole statement will be `True`. The `and` statement only outputs `True` if all components that are `and`ed together are True. Otherwise it will output `False`. The `not` statement simply inverts the truth value of whichever statement follows it. So a `True` statement will be evaluated as `False` when a `not` is placed in front of it. Similarly, a `False` statement will become `True` when a `not` is in front of it.

Say that we have two logical statements, or assertions, $P$ and $Q$. The truth table for the basic logical operators is as follows:

|  P  |  Q  | `not` P| P `and` Q | P `or` Q|
|:-----:|:-----:|:---:|:---:|:---:|
| `True` | `True` | `False` | `True` | `True` |
| `False` | `True` | `True` | `False` | `True` |
| `True` | `False` | `False` | `False` | `True` |
| `False` | `False` | `True` | `False` | `False` |

We can string multiple logical statements together using the logical operators.

In [ ]:
print (((2 < 3) and (3 > 0)) or ((5 > 6) and not (4 < 2)))

True

In [ ]:
print ((sentencia1 and sentencia2) or sentencia2 and not sentencia1)

True

Logical statements can be as simple or complex as we like, depending on what we need to express. Evaluating the above logical statement step by step we see that we are evaluating (`True and True`) `or` (`False and not False`). This becomes `True or (False and True`), subsequently becoming `True or False`, ultimately being evaluated as `True`.

#### Truthiness

Data types in Python have a fun characteristic called truthiness. What this means is that most built-in types will evaluate as either `True` or `False` when a boolean value is needed (such as with an if-statement). As a general rule, containers like strings, tuples, dictionaries, lists, and sets, will return `True` if they contain anything at all and `False` if they contain nothing.

In [ ]:
# Similar to how float() and int() work, bool() forces a value to be considered a boolean!
print bool('')

False

In [ ]:
print bool('I have character!')

True

In [ ]:
print bool([])

False

In [ ]:
print bool([1, 2, 3])

True

In [ ]:
print(bool(""))

False

In [ ]:
print(bool("caracter no vacio"))

True

In [ ]:
print (bool([]))

False

In [ ]:
print (bool(['a','b','c']))

True

And so on, for the other collections and containers. `None` also evaluates as `False`. The number `1` is equivalent to `True` and the number `0` is equivalent to `False` as well, in a boolean context.

### If-statements

We can create segments of code that only execute if a set of conditions is met. We use if-statements in conjunction with logical statements in order to create branches in our code. 

An `if` block gets entered when the condition is considered to be `True`. If condition is evaluated as `False`, the `if` block will simply be skipped unless there is an `else` block to accompany it. Conditions are made using either logical operators or by using the truthiness of values in Python. An if-statement is defined with a colon and a block of indented text.

In [ ]:
# This is the basic format of an if statement. This is a vacuous example. 
# The string "Condition" will always evaluated as True because it is a
# non-empty string. he purpose of this code is to show the formatting of
# an if-statement.
if "Condition": 
    # This block of code will execute because the string is non-empty
    # Everything on these indented lines
    print True
else:
    # So if the condition that we examined with if is in fact False
    # This block of code will execute INSTEAD of the first block of code
    # Everything on these indented lines
    print False
# The else block here will never execute because "Condition" is a non-empty string.

True

In [ ]:
i = 4
if i == 5:
    print 'The variable i has a value of 5'

In [ ]:
i = 5
if i==5:
    print('i vale 5')

i vale 5

Because in this example `i = 4` and the if-statement is only looking for whether `i` is equal to `5`, the print statement will never be executed. We can add in an `else` statement to create a contingency block of code in case the condition in the if-statement is not evaluated as `True`.

In [ ]:
i = 4
if i == 5:
    print "All lines in this indented block are part of this block"
    print 'The variable i has a value of 5'
else:
    print "All lines in this indented block are part of this block"
    print 'The variable i is not equal to 5'

All lines in this indented block are part of this block
The variable i is not equal to 5

In [ ]:
i =False
if i==True:
    print('Es verdadero')
else:
    print('Es falso')

Es falso

We can implement other branches off of the same if-statement by using `elif`, an abbreviation of "else if". We can include as many `elifs` as we like until we have exhausted all the logical branches of a condition.

In [ ]:
i = 1
if i == 1:
    print 'The variable i has a value of 1'
elif i == 2:
    print 'The variable i has a value of 2'
elif i == 3:
    print 'The variable i has a value of 3'
else:
    print "I don't care what i is"

In [ ]:
i = ''
if i== 'Juan':
    print('Se llama Juan')
elif i== 'Sebastian':
    print('Es su segundo nombre')
elif i== '':
    print('No hay nombre')
else:
    print('Incorrecto')

No hay nombre

You can also nest if-statements within if-statements to check for further conditions.

In [ ]:
i = 10
if i % 2 == 0:
    if i % 3 == 0:
        print 'i is divisible by both 2 and 3! Wow!'
    elif i % 5 == 0:
        print 'i is divisible by both 2 and 5! Wow!'
    else:
        print 'i is divisible by 2, but not 3 or 5. Meh.'
else:
    print 'I guess that i is an odd number. Boring.'

i is divisible by both 2 and 5! Wow!

In [ ]:
f = 20
if f > 0:
    print('f es positivo')
elif f < 0:
    print('f es negativo')
else:
    print('f es cero')

f es positivo

Remember that we can group multiple conditions together by using the logical operators!

In [ ]:
i = 5
j = 12
if i < 10 and j > 11:
    print '{0} is less than 10 and {1} is greater than 11! How novel and interesting!'.format(i, j)

5 is less than 10 and 12 is greater than 11! How novel and interesting!

In [ ]:
i = 30
if i%2==0 and i%3==0:
    print("{0} es multiplo de 2 y tambien multiplo de 3".format(i))

30 es multiplo de 2 y tambien multiplo de 3

You can use the logical comparators to compare strings!

In [ ]:
my_string = "Carthago delenda est"
if my_string == "Carthago delenda est":
    print 'And so it was! For the glory of Rome!'
else:
    print 'War elephants are TERRIFYING. I am staying home.'

And so it was! For the glory of Rome!

In [ ]:
sgt = 'Astronomía'
if sgt=='Astronomía':
    print('Love astronomy :D')
elif sgt=='Astrología':
    print('Get out of here!')
else:
    print('Hello')

Love astronomy :D

As with other data types, `==` will check for whether the two things on either side of it have the same value. In this case, we compare whether the value of the strings are the same. Using `>` or `<` or any of the other comparators is not quite so intuitive, however, so we will stay from using comparators with strings in this lecture. Comparators will examine the [lexicographical order](https://en.wikipedia.org/wiki/Lexicographical_order) of the strings, which might be a bit more in-depth than you might like.

Some built-in functions return a boolean value, so they can be used as conditions in an if-statement. User-defined functions can also be constructed so that they return a boolean value. This will be covered later with function definition!

The `in` keyword is generally used to check membership of a value within another value. We can check memebership in the context of an if-statement and use it to output a truth value.

In [ ]:
if 'a' in my_string or 'e' in my_string:
    print 'Those are my favorite vowels!'

Those are my favorite vowels!

In [ ]:
if not 'l' in sgt or not 'g' in sgt:
    print('menos mal no es astrología :p')

menos mal no es astrología :p

Here we use `in` to check whether the variable `my_string` contains any particular letters. We will later use `in` to iterate through lists!

## Loop Structures

Loop structures are one of the most important parts of programming. The `for` loop and the `while` loop provide a way to repeatedly run a block of code repeatedly. A `while` loop will iterate until a certain condition has been met. If at any point after an iteration that condition is no longer satisfied, the loop terminates. A `for` loop will iterate over a sequence of values and terminate when the sequence has ended. You can instead include conditions within the `for` loop to decide whether it should terminate early or you could simply let it run its course.

In [ ]:
i = 5
while i > 0: # We can write this as 'while i:' because 0 is False!
    i -= 1
    print 'I am looping! {0} more to go!'.format(i)

I am looping! 4 more to go!
I am looping! 3 more to go!
I am looping! 2 more to go!
I am looping! 1 more to go!
I am looping! 0 more to go!

In [ ]:
j = 11
while j > 0:
    j-=1
    print(j,'!')
print('¡Feliz año nuevo!')

10 !
9 !
8 !
7 !
6 !
5 !
4 !
3 !
2 !
1 !
0 !
¡Feliz año nuevo!


With `while` loops we need to make sure that something actually changes from iteration to iteration so that that the loop actually terminates. In this case, we use the shorthand `i -= 1` (short for `i = i - 1`) so that the value of `i` gets smaller with each iteration. Eventually `i` will be reduced to `0`, rendering the condition `False` and exiting the loop.

A `for` loop iterates a set number of times, determined when you state the entry into the loop. In this case we are iterating over the list returned from `range()`. The `for` loop selects a value from the list, in order, and temporarily assigns the value of `i` to it so that operations can be performed with the value.

In [ ]:
for i in range(5):
    print 'I am looping! I have looped {0} times!'.format(i + 1)

I am looping! I have looped 1 times!
I am looping! I have looped 2 times!
I am looping! I have looped 3 times!
I am looping! I have looped 4 times!
I am looping! I have looped 5 times!

In [ ]:
for k in range(5):
    print('el valor es {0}'.format(k-1))

el valor es -1
el valor es 0
el valor es 1
el valor es 2
el valor es 3

Note that in this `for` loop we use the `in` keyword. Use of the `in` keyword is not limited to checking for membership as in the if-statement example. You can iterate over any collection with a `for` loop by using the `in` keyword.

In this next example, we will iterate over a `set` because we want to check for containment and add to a new set.

In [ ]:
my_list = {'cats', 'dogs', 'lizards', 'cows', 'bats', 'sponges', 'humans'} # Lists all the animals in the world
mammal_list = {'cats', 'dogs', 'cows', 'bats', 'humans'} # Lists all the mammals in the world
my_new_list = set()
for animal in my_list:
    if animal in mammal_list:
        # This adds any animal that is both in my_list and mammal_list to my_new_list
        my_new_list.add(animal)
        
print my_new_list

{'dogs', 'bats', 'cows', 'humans', 'cats'}

In [ ]:
cundina={'bogota','sopo','mosquera','girardot','carupa','madrid','chia','sasaima'}
aleda={'bogota','sopo','mosquera','madrid','chia'}
boglis = set()
for vecino in cundina:
    if vecino in aleda:
        boglis.add(vecino)
print (boglis)

{'sopo', 'mosquera', 'bogota', 'chia', 'madrid'}

There are two statements that are very helpful in dealing with both `for` and `while` loops. These are `break` and `continue`. If `break` is encountered at any point while a loop is executing, the loop will immediately end.

In [ ]:
i = 10
while True:
    if i == 14:
        break
    i += 1 # This is shorthand for i = i + 1. It increments i with each iteration.
    print i

11
12
13
14

In [ ]:
mcovc = 3
while True:
    if mcovc==9:
        break
    else:
        mcovc+=1
    print(mcovc)

4
5
6
7
8
9

In [ ]:
for i in range(5):
    if i == 2:
        break
    print i

0
1

In [ ]:
for i in range(15000):
    if i==1000:
        break
    print i

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999

The `continue` statement will tell the loop to immediately end this iteration and continue onto the next iteration of the loop.

In [ ]:
i = 0
while i < 5:
    i += 1
    if i == 3:
        continue
    print i

1
2
4
5

In [ ]:
j =  25
while j > 12:
    j-=1
    if j == 14:
        continue
    print(j)

24
23
22
21
20
19
18
17
16
15
13
12

This loop skips printing the number $3$ because of the `continue` statement that executes when we enter the if-statement. The code never sees the command to print the number $3$ because it has already moved to the next iteration. The `break` and `continue` statements are further tools to help you control the flow of your loops and, as a result, your code.

The variable that we use to iterate over a loop will retain its value when the loop exits. Similarly, any variables defined within the context of the loop will continue to exist outside of it.

In [ ]:
for i in range(5):
    loop_string = 'I transcend the loop!'
    print 'I am eternal! I am {0} and I exist everywhere!'.format(i)

print 'I persist! My value is {0}'.format(i)
print loop_string

I am eternal! I am 0 and I exist everywhere!
I am eternal! I am 1 and I exist everywhere!
I am eternal! I am 2 and I exist everywhere!
I am eternal! I am 3 and I exist everywhere!
I am eternal! I am 4 and I exist everywhere!
I persist! My value is 4
I transcend the loop!

In [ ]:
for k in range(81):
    if k%10==0:
        stg = 'hola'
        print(k)
print(k, stg)

0
10
20
30
40
50
60
70
80
80 holi

We can also iterate over a dictionary!

In [1]:
my_dict = {'firstname' : 'Nicolas', 'lastname' : 'Molano', 'nemesis' : 'Molano'}

In [ ]:
for key in my_dict:
    print key

nemesis
firstname
lastname

In [3]:
names= {'Primer Nombre':'Juan','Segundo Nombre':'Manuel','Apellido':'Molano'}
for llave in names:
    print(llave)

Primer Nombre
Segundo Nombre
Apellido

If we just iterate over a dictionary without doing anything else, we will only get the keys. We can either use the keys to get the values, like so:

In [5]:
for key in my_dict:
    print (my_dict[key])

Nicolas
Molano
Molano

In [6]:
for llave in names:
    print (names[llave])

Juan
Manuel
Molano

Or we can use the `items()` function to get both key and value at the same time.

In [8]:
for key, value in my_dict.items():
    print (key, ':', value)

firstname : Nicolas
lastname : Molano
nemesis : Molano

In [9]:
for llave, valor in names.items():
    print (llave, ':', valor)

Primer Nombre : Juan
Segundo Nombre : Manuel
Apellido : Molano

The `items()` function creates a tuple of each key-value pair and the for loop unpacks that tuple into `key, value` on each separate execution of the loop!

## Functions

A function is a reusable block of code that you can call repeatedly to make calculations, output data, or really do anything that you want. This is one of the key aspects of using a programming language. To add to the built-in functions in Python, you can define your own!

In [ ]:
def hello_world():
    """ Prints Hello, world! """
    print 'Hello, world!'

hello_world()

Hello, world!

In [ ]:
def printcode():
    code=1588
    return code
print(printcode())

1588

In [ ]:
for i in range(5):
    hello_world()

Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!

In [ ]:
for j in range(8):
    print(printcode())

1588
1588
1588
1588
1588
1588
1588
1588

Functions are defined with `def`, a function name, a list of parameters, and a colon. Everything indented below the colon will be included in the definition of the function.

We can have our functions do anything that you can do with a normal block of code. For example, our `hello_world()` function prints a string every time it is called. If we want to keep a value that a function calculates, we can define the function so that it will `return` the value we want. This is a very important feature of functions, as any variable defined purely within a function will not exist outside of it.

In [ ]:
def see_the_scope():
    in_function_string = "I'm stuck in here!"

see_the_scope()
print in_function_string

NameError: name 'in_function_string' is not defined

In [ ]:
def funcionr():
    stringunico='Soy una variable local de la funcion'
funcionr()
print(stringunico)

NameError: name 'stringunico' is not defined

 The **scope** of a variable is the part of a block of code where that variable is tied to a particular value. Functions in Python have an enclosed scope, making it so that variables defined within them can only be accessed directly within them. If we pass those values to a return statement we can get them out of the function. This makes it so that the function call returns values so that you can store them in variables that have a greater scope.
 
In this case specifically, including a return statement allows us to keep the string value that we define in the function.

In [ ]:
def free_the_scope():
    in_function_string = "Anything you can do I can do better!"
    return in_function_string
my_string = free_the_scope()
print my_string

Anything you can do I can do better!

In [ ]:
def funciond():
    returnstring='Soy una variable para retornar :D'
    return(returnstring)
stg=funciond()
print(stg)

Soy una variable para retornar :D

Just as we can get values out of a function, we can also put values into a function. We do this by defining our function with parameters.

In [ ]:
def multiply_by_five(x):
    """ Multiplies an input number by 5 """
    return x * 5

n = 4
print n
print multiply_by_five(n)

In [ ]:
def operation(x):
    return x**2
x=4
print(x)
print(operation(x))

4
16

In this example we only had one parameter for our function, `x`. We can easily add more parameters, separating everything with a comma.

In [ ]:
def calculate_area(length, width):
    """ Calculates the area of a rectangle """
    return length * width

In [ ]:
l = 5
w = 10
print 'Area: ', calculate_area(l, w)
print 'Length: ', l
print 'Width: ', w

Area:  50
Length:  5
Width:  10

In [ ]:
def calculate_volume(length, width, depth):
    """ Calculates the volume of a rectangular prism """
    return length * width * depth

In [ ]:
def trarea(base,altura):
    area=(base*altura)/2
    return (area)

In [ ]:
b=20
h=10
area=trarea(b,h)
print(area)

100.0

If we want to, we can define a function so that it takes an arbitrary number of parameters. We tell Python that we want this by using an asterisk (`*`).

In [ ]:
def sum_values(*args):
    sum_val = 0
    for i in args:
        sum_val += i
    return sum_val

In [ ]:
print sum_values(1, 2, 3)
print sum_values(10, 20, 30, 40, 50)
print sum_values(4, 2, 5, 1, 10, 249, 25, 24, 13, 6, 4)

6
150
343

In [ ]:
def mul_values(*args):
    product=1
    for j in args:
        product*=j
    return product

In [ ]:
print mul_values(1, 2, 3)
print mul_values(10, 20, 30, 40, 50)
print mul_values(4, 2, 5, 1, 10, 249, 25, 24, 13, 6, 4)

6
12000000
18645120000

The time to use `*args` as a parameter for your function is when you do not know how many values may be passed to it, as in the case of our sum function. The asterisk in this case is the syntax that tells Python that you are going to pass an arbitrary number of parameters into your function. These parameters are stored in the form of a tuple.

In [ ]:
def test_args(*args):
    print type(args)

test_args(1, 2, 3, 4, 5, 6)

<class 'tuple'>

In [ ]:
def arguments(*args):
    print(type(args))

arguments(1,'a',"hola",.22,False)

<class 'tuple'>

We can put as many elements into the `args` tuple as we want to when we call the function. However, because `args` is a tuple, we cannot modify it after it has been created.

The `args` name of the variable is purely by convention. You could just as easily name your parameter `*vars` or `*things`. You can treat the `args` tuple like you would any other tuple, easily accessing `arg`'s values and iterating over it, as in the above `sum_values(*args)` function.

Our functions can return any data type. This makes it easy for us to create functions that check for conditions that we might want to monitor.

Here we define a function that returns a boolean value. We can easily use this in conjunction with if-statements and  other situations that require a boolean.

In [ ]:
def has_a_vowel(word):
    """ 
    Checks to see whether a word contains a vowel 
    If it doesn't contain a conventional vowel, it
    will check for the presence of 'y' or 'w'. Does
    not check to see whether those are in the word
    in a vowel context.
    """
    vowel_list = ['a', 'e', 'i', 'o', 'u']
    
    for vowel in vowel_list:
        if vowel in word:
            return True
    # If there is a vowel in the word, the function returns, preventing anything after this loop from running
    return False

In [ ]:
my_word = 'catnapping'
if has_a_vowel(my_word):
    print 'How surprising, an english word contains a vowel.'
else:
    print 'This is actually surprising.'

How surprising, an english word contains a vowel.

In [ ]:
def tiene_un_numero(palabra):
    numeros=['1','2','3','4','5','6','7','8','9','0']
    for numero in numeros:
        if numero in palabra:
            return True
    return False

In [ ]:
palabra='nmolanob-9'
if tiene_un_numero(palabra):
    print('La palabra tiene un número')
else:
    print('La palabra no tiene numeros')

La palabra tiene un número

In [ ]:
def point_maker(x, y):
    """ Groups x and y values into a point, technically a tuple """
    return x, y

This above function returns an ordered pair of the input parameters, stored as a tuple.

In [ ]:
a = point_maker(0, 10)
b = point_maker(5, 3)
def calculate_slope(point_a, point_b):
    """ Calculates the linear slope between two points """
    return (point_b[1] - point_a[1])/(point_b[0] - point_a[0])
print "The slope between a and b is {0}".format(calculate_slope(a, b))

The slope between a and b is -1.4

In [ ]:
coor1= point_maker(3, 9)
coor2= point_maker(25, -4)
def productopunto(coor1, coor2):
    return((coor1[0]*coor2[0])+(coor1[1]*coor2[1]))
print("El producto punto entre coor 1 y coor2 es {0}".format(productopunto(coor1,coor2)))

El producto punto entre coor 1 y coor2 es 39

And that one calculates the slope between two points!

In [ ]:
print "The slope-intercept form of the line between a and b, using point a, is: y - {0} = {2}(x - {1})".format(a[1], a[0], calculate_slope(a, b))

The slope-intercept form of the line between a and b, using point a, is: y - 10 = -1.4(x - 0)

With the proper syntax, you can define functions to do whatever calculations you want. This makes them an indispensible part of programming in any language.

## Next Steps

This was a lot of material and there is still even more to cover! Make sure you play around with the cells in each notebook to accustom yourself to the syntax featured here and to figure out any limitations. If you want to delve even deeper into the material, the [documentation for Python](https://docs.python.org/2/) is all available online. We are in the process of developing a second part to this Python tutorial, designed to provide you with even more programming knowledge, so keep an eye on the [Quantopian Lectures Page](quantopian.com/lectures) and the [forums](quantopian.com/posts) for any new lectures.

*This presentation is for informational purposes only and does not constitute an offer to sell, a solicitation to buy, or a recommendation for any security; nor does it constitute an offer to provide investment advisory or other services by Quantopian, Inc. ("Quantopian"). Nothing contained herein constitutes investment advice or offers any opinion with respect to the suitability of any security, and any views expressed herein should not be taken as advice to buy, sell, or hold any security or as an endorsement of any security or company.  In preparing the information contained herein, Quantopian, Inc. has not taken into account the investment needs, objectives, and financial circumstances of any particular investor. Any views expressed and data illustrated herein were prepared based upon information, believed to be reliable, available to Quantopian, Inc. at the time of publication. Quantopian makes no guarantees as to their accuracy or completeness. All information is subject to change and may quickly become unreliable for various reasons, including changes in market conditions or economic circumstances.*